@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --x: 100px;
  --y: 200px;
  --total: 1300px;
  --min: 900px;
  --text-one: "Teko", sans-serif;
  --text-two: "Titillium Web", sans-serif;
  --text-three: "Bebas Neue", cursive;
}

.board-logo{
  width: 40rem;
	transform: rotateZ(-45deg) translateX(-5px) translateY(220px);
}
.board-logo-toniPolice{
  width: 10rem;
	transform: rotateZ(0deg) translateX(85px) translateY(-30px);
	text-align: center;
}
.board-logo-toniJail{
  width: 16rem;
	transform: rotateZ(10.5deg) translateX(-140px) translateY(9px);
	text-align: center;
}
.table {
  background: radial-gradient(#414141, #0e0e0e);
  box-shadow: inset 0 0 0 5px #ffffffc7;
  width: var(--total);
  height: var(--total);
}
.container-card {
  width: var(--x);
  height: var(--y);
  box-shadow: inset 0 0 0 2px #ffffff;
  color: rgb(226, 226, 226);
  /* background-color: blue; */
  -webkit-text-stroke: 1px rgb(122, 122, 122);
  font-size: 20px;
  text-align: center;
}
.container-card-cube {
  display: flex;
  width: var(--y);
  height: var(--y);
  box-shadow: inset 0 0 0 1px #ffffff;
  color: black;
  font-size: 20px;
}
.max-table {
  width: var(--min);
}
.grade0 {
  transform: rotate(0deg);
}
.grade90 {
  margin-top: -50%;
  margin-bottom: -50%;
  margin-left: 50%;
  transform: rotate(90deg);
}
.grade180 {
  transform: rotate(180deg);
}
.grade270 {
  margin-top: -50%;
  margin-bottom: -50%;
  margin-left: 150%;
  transform: rotate(270deg);
}
.div-title {
  box-shadow: inset 0 0 0 2px #ffffff;
  height: 20%;
  display: flex;
}
.div-title-empty{
  height: 20%;
  display: flex;
  margin-top: 0.2rem;
}
.title-card {
  width: 100%;
  font-family: var(--text-three);
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
}
.title-cardEmpty{
  width: 100%;
  font-family: var(--text-three);
  letter-spacing: 1px;
  text-align: center;
  padding-top: 2rem;
}
/*ICONS*/
.card-icon {
  margin-top: 20px;
  font-size: 70px;
  color: rgb(226, 226, 226);
}
.card-icon-import-express{
  margin-top: 3.2rem;
  margin-bottom: 0.9rem;
  width: 5.5rem;
}
.card-icon-import-Cplus{
  margin-top: 0.9rem;
  margin-bottom: -0.2rem;
  width: 4.3rem;
}
.card-icon-import-Csharp{
  margin-top: 0.9rem;
  margin-bottom: -0.2rem;
  width: 4.1rem;
}
.card-icon-import-Ui{
  margin-top: 1.5rem;
  margin-bottom: -0.2rem;
  width: 4.2rem;
}
.card-icon-import-Modulos{
  margin-top: 1.5rem;
  margin-bottom: -0.2rem;
  width: 4.5rem;
}
.card-icon-import-Sequelize{
  margin-top: 1.1rem;
  margin-bottom: -0.2rem;
  width: 4.1rem;
}
.color-card-brown {
  background: linear-gradient(#e49f68, #966237);
}
.color-card-light-blue {
  background: linear-gradient(#91d6f3, #3fa2cc);
}
.color-card-pink {
  background: linear-gradient(#fda7fd, #e060e0);
}
.color-card-orange {
  background: linear-gradient(#eb924f, #bd6422);
}
.color-card-red {
  background: linear-gradient(#ee6c62, #b1342a);
}
.color-card-yellow {
  background: linear-gradient(#f5e557, #d4c218);
}
.color-card-green {
  background: linear-gradient(#2ecc65, #028730);
}
.color-card-blue {
  background: linear-gradient(#5593d6, #154375);

}
.top{
  margin-top: 5rem;
}
.card-blue-inside{
  transform: rotateZ(-45deg) translateX(50px) translateY(230px);
  width: 15rem;
}
.card-orange-inside{
  transform: rotateZ(-45deg) translateX(370px) translateY(560px);
  width: 15rem;
}
.card-box {	
	width: 180px;
	height: 9vw;
}
.square2 {
	flex-grow: 1;
	outline: 1px solid rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	position: relative;
}
.corner {
	position: absolute;
	text-align: center;
	line-height: 2vw;
	font-size: 1.2vw;
	font-weight: 500;
  color: #ffffff;
}
.corner1 {
  transform: rotateZ(135deg) translateX(10px) translateY(-115px);
}
.corner2 {
  transform: rotateZ(-135deg) translateX(-100px) translateY(20px);
  line-height: 2vw;
}
.corner3 {
  transform: rotateZ(30deg) translateX(100px) translateY(5px);
}
.board-square-3d{
	perspective: 900px;
}
.board-responsive-3d {
	transform-style: preserve-3d;
	transform: rotateX(32deg) translateY(-52%);
}
.board-total-view{
  position: fixed;
}
