@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --x: 100px;
  --y: 200px;
  --total: 1300px;
  --min: 900px;
  --text-one: "Teko", sans-serif;
  --text-two: "Titillium Web", sans-serif;
  --text-three: "Bebas Neue", cursive;
}
.table {
  background-color: #ffde59;
  box-shadow: inset 0 0 0 7px #5f59226e;
  width: var(--total);
  height: var(--total);
}
.container-card {
  width: var(--x);
  height: var(--y);
  box-shadow: inset 0 0 0 1px #000000;
  color: black;
  font-size: 20px;
  text-align: center;
}
.container-card-cube {
  display: flex;
  width: var(--y);
  height: var(--y);
  box-shadow: inset 0 0 0 1px #000000;
  color: black;
  font-size: 20px;
}
.max-table {
  width: var(--min);
}
.grade0 {
  transform: rotate(0deg);
}
.grade90 {
  margin-top: -50%;
  margin-bottom: -50%;
  margin-left: 50%;
  transform: rotate(90deg);
}
.grade180 {
  transform: rotate(180deg);
}
.grade270 {
  margin-top: -50%;
  margin-bottom: -50%;
  margin-left: 150%;
  transform: rotate(270deg);
}
.div-title {
  box-shadow: inset 0 0 0 2px #00000093;
  height: 20%;
  display: flex;
}
.title-card {
  width: 100%;
  font-family: var(--text-three);
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
}
.card-icon {
  margin-top: 20px;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.637);
}
.color-card-brown {
  background-color: #966237;
}
.color-card-light-blue {
  background-color: #3fa2cc;
}
.color-card-pink {
  background-color: violet;
}
.color-card-orange {
  background-color: #bd6422;
}
.color-card-red {
  background-color: #b1342a;
}
.color-card-yellow {
  background-color: #d4c218;
}
.color-card-green {
  background-color: #028730;
}
.color-card-blue {
  background-color: #154375;
}
.top{
  margin-top: 5rem;
}