@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --x: 100px;
  --y: 200px;
  --total: 1300px;
  --min: 900px;
  --text-one: "Teko", sans-serif;
  --text-two: "Titillium Web", sans-serif;
  --text-three: "Bebas Neue", cursive;
}

.board-logo{
  width: 40rem;
  margin-left: 11rem;
  position: absolute;
	transform: rotateZ(-45deg) translateX(-29%) translateY(60%);
	text-align: center;

}

.table {
  background-color: linear-gradient(#ffde59, #fbd32f);
  box-shadow: inset 0 0 0 7px #5f59226e;
  width: var(--total);
  height: var(--total);

}
.container-card {
  width: var(--x);
  height: var(--y);
  box-shadow: inset 0 0 0 1px #000000;
  color: black;
  font-size: 20px;
  text-align: center;
  
}
.container-card-cube {
  display: flex;
  width: var(--y);
  height: var(--y);
  box-shadow: inset 0 0 0 1px #000000;
  color: black;
  font-size: 20px;
}
.max-table {
  width: var(--min);
}
.grade0 {
  transform: rotate(0deg);
}
.grade90 {
  margin-top: -50%;
  margin-bottom: -50%;
  margin-left: 50%;
  transform: rotate(90deg);
}
.grade180 {
  transform: rotate(180deg);
}
.grade270 {
  margin-top: -50%;
  margin-bottom: -50%;
  margin-left: 150%;
  transform: rotate(270deg);
}
.div-title {
  box-shadow: inset 0 0 0 2px #00000093;
  height: 20%;
  display: flex;
}
.div-title-empty{
  
  height: 20%;
  display: flex;
  margin-top: 0.2rem;
}
.title-card {
  width: 100%;
  font-family: var(--text-three);
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
}
.title-cardEmpty{
  width: 100%;
  font-family: var(--text-three);
  letter-spacing: 1px;
  text-align: center;
  padding-top: 2rem;
}
.card-icon {
  margin-top: 20px;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.637);
}
.color-card-brown {
  background-color: #966237;
}
.color-card-light-blue {
  background-color: #3fa2cc;
}
.color-card-pink {
  background-color: violet;
}
.color-card-orange {
  background-color: #bd6422;
}
.color-card-red {
  background-color: #b1342a;
}
.color-card-yellow {
  background-color: #d4c218;
}
.color-card-green {
  background-color: #028730;
}
.color-card-blue {
  background-color: #154375;
}
.top{
  margin-top: 5rem;
}
.card-blue {
  position: absolute;
	background: linear-gradient(#4ccaf4, #a3dff9);
	transform: rotateZ(-45deg) translateX(60px) translateY(200px);
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card-orange {
  position: absolute;
	background: linear-gradient(#f99120, #f57420);
	transform: rotateZ(-45deg) translateX(60px) translateY(950px);
  align-items: center;
  text-align: center;
  justify-content: center;
}
.card-box {
	position: absolute;
	width: 15%;
	height: 9vw;
}
.square2 {
	flex-grow: 1;
	outline: 1px solid black;
	display: flex;
	flex-direction: column;
	position: relative;
}
.corner {
	position: absolute;
	text-align: center;
	line-height: 2vw;
	font-size: 1.2vw;
	font-weight: 500;
}

.corner1 {
  transform: rotateZ(135deg) translateX(10%) translateY(-115%);
}
.corner2 {
  transform: rotateZ(-135deg) translateX(-210%) translateY(20%);
  line-height: 2vw;
}
.corner3 {
  transform: rotateZ(30deg) translateX(220%) translateY(-15%);
}
.board-square-3d{
	perspective: 900px;
}
.board-responsive-3d {
	transform-style: preserve-3d;
	transform: rotateX(32deg) translateY(-52%);
}
.board-total-view{
  position: fixed;
}