.modal-body {
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.modal {
    margin: auto;
    width: max-content;
    position: relative;
}
.icon-portal {
    font-size: 30px;
    background-color: #272727;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    right: -16px;
    top: -16px;
    border: 1px solid #000000;
}
.icon-portal:hover {
    cursor:pointer;
    background-color: #272727;
    border-color: #7a7a7a;
    transition: 0.3s;
    color: #f10909;
}