.nav-body {
  position: absolute;
  width: 100%;
  background-color: var(--color-yellow);
  height: 50px;
  border-bottom: 2px solid var(--color-gray);
  box-shadow: 0 0 5px var(--color-grayThree);
}
.nav-container {
  max-width: var(--width-container);
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo-nav {
  width: 90px;
  height: 48px;
  margin-top: 1px;
}
.nav-text-user{
  display: flex;
  margin-top: 30px;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: var(--text-two);
}
.nav-btn {
  margin-top: 9px;
  font-family: var(--text-one);
  padding-top: 3px;
  font-size: 22px;
  letter-spacing: 1px;
  border-radius: 10px;
  margin-right: 10px;
}