.nav-body {
  position: fixed;
  max-width: 120rem;
  width: 100%;
  background: radial-gradient(#000000, #141414);
  height: 6rem;
  max-height: 6rem;
  border-bottom: 1px solid rgb(41, 41, 41);
  box-shadow: 0 0 5px #000000;
  z-index: 10;
}
.nav-container {
  max-width:  120rem;
  max-height: 6rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo-nav {
  width: 15rem;
  height: 4rem;
  margin-top: 15px;
  margin-left: 2rem;
}
.nav-text-user{
  display: grid;
  margin-top: 2.5rem;
  font-size: 2.5rem;
  letter-spacing: .06rem;
  font-family: var(--text-one);
  color: #f5f3f3;
  text-shadow: 0 0 5px rgb(221, 221, 221);
}

.nav-space {
  height: 50px;
}