.principal {
  background-color: #ececec;
  margin:1rem 1rem;
  align-items: center;
  text-align: center;
  transform: translateY(30%) translateX(150%);
  height:400px;
  width: 300px;
  border: solid black 2px;
  border-radius: 5px; 
  box-shadow: 7px 10px 12px 3px #000000;
}

.logo {
  margin-top: 2rem;
  align-items:center;
}
.center{
  align-items:center;
}
/*BUTTONS*/
.btn {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s ease;
    border-radius:4px;
  }

  .btn:hover {
    cursor:pointer;
    background-color: #FFEC00;
    color: #000000;
    border: solid 1px #000000;
    }

  .btn-verde {
    background-color: #FFEC00;
    color: #000000;
    border: 1px solid #FFEC00;
    margin-top: 2rem;
    margin-left: 1rem;
    cursor:pointer;
    width: 200px;
    text-align: center;
    }

  .btn-direction{
      display: flex;
      flex-direction:column;
      width: min(60rem, 100%);
      margin: 0 auto;
      padding: 2rem;
      width: min(60rem, 100%);
    }