@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap');

:root {
  --background-color: rgb(255, 199, 15);
  --color-yellow: #ffec00;
  --color-yellowTwo: #ffde59;
  --color-gray: #323639;
  --color-grayTwo: #737373;
  --color-grayThree: #919191;
  --width-container: 1250px;
  --text-one: 'Teko', sans-serif;
  --text-two: 'Titillium Web', sans-serif;
}
body {
  /* background-color: var(--background-color); */
  background-image: url('../src/image/tablero-default.jpg');
}
.container-body {
  width: 100%;
}
.container {
  max-width: var(--width-container);
  margin: auto;
  padding-bottom: 20px;
}
.box-row {
  display: flex;
  flex-direction: row;
}
.box-column {
  display: flex;
  flex-direction: column;
}
.no-select{
  user-select: none;
}

.button-one {
  color: black;
  background-color: var(--color-yellow);
  border: 1px solid black;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow:1px 2px 2px 1px black;
}
.button-one:hover {
  color: var(--color-gray);
  background-color: var(--color-yellowTwo);
  border: 2px solid var(--color-gray);
  box-shadow: 0 0 3px var(--color-gray);
  transition: 0.2s;
}
