@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap");

:root {
  --color-yellow: yellow;
  --color-yellowTwo: #ffde59;
  --color-white: #FFFBE3;
  --color-black: #000000;
  --color-gray: #323639;
  --color-grayTwo: #737373;
  --color-grayThree: #919191;
  --width-container: 1250px;
  --text-one: "Teko", sans-serif;
  --text-two: "Titillium Web", sans-serif;
}
body {
  background: radial-gradient(#242424, #1b1b1b);
}
.container-body {
  width: 100%;
}
.container {
  max-width: var(--width-container);
  margin: auto;
  padding-bottom: 20px;
}
.box-row {
  display: flex;
  flex-direction: row;
}
.box-column {
  display: flex;
  flex-direction: column;
}
.no-select {
  user-select: none;
}

.button-one {
  border: 2px solid yellow;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 1px 8px 7px 2px #111111;
  margin-top: 25px;
  font-family: var(--text-one);
  font-size: 35px;
  letter-spacing: 1px;
  border-radius: 8px;
  background-color: transparent;
  color: yellow;
  cursor: pointer;
  transition: transform 250ms ease;
  margin-left: 1rem;
}
.button-one:hover {
  color: var(--color-black);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-black);
  box-shadow: 0 0 5px var(--color-yellow);
  transform: scale(1.1);
}
.index-space {
  height: 50px;
}
.asd {
  height: 45px;
}