@import url("https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css");
.total {
    margin-left: 50px;
    width : 50%;
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    max-width: 400px;
    background: #e2d956;
   /*  background: -moz-linear-gradient(45deg, #F6D6BC 0%, #F6D6BC 50%, #E0A06B 100%);
    background: -webkit-linear-gradient(45deg, #F6D6BC 0%, #F6D6BC 50%, #E0A06B 100%); */
    border-radius: 10px;
    box-shadow: 0 14px 24px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: .65rem;
}
.crearSala {
    align-items: center;
    margin-left: 50px;
    width : 300px;
    margin-left: 100px;
    margin-top: 30px;
    display:flex;
    font-size: 20px;
    flex-direction: column;
    max-width: 400px;
    background: #eee787;
   /*  background: -moz-linear-gradient(45deg, #F6D6BC 0%, #F6D6BC 50%, #E0A06B 100%);
    background: -webkit-linear-gradient(45deg, #F6D6BC 0%, #F6D6BC 50%, #E0A06B 100%); */
    border-radius: 10px;
    box-shadow: 0 14px 24px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: .65rem;
    height: 200px;
}
.position {
    font-family: var(--text-one);
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.asd {
    height: 45px;
}

.text-hov:hover {
    /* box-shadow: 0 14px 24px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border:none; */
}

.imgn {
    height: 180px;
    width:200px;
}

.contSalyImg{
    display: flex;
    flex-direction: column;
}

.conimg{
    align-items: center;
    margin-left: 50px;
    width : 300px;
    margin-left: 100px;
    margin-top: 100px;
    display:flex;
    font-size: 20px;
    flex-direction: column;
    max-width: 400px;
    background: #eee787;
   /*  background: -moz-linear-gradient(45deg, #F6D6BC 0%, #F6D6BC 50%, #E0A06B 100%);
    background: -webkit-linear-gradient(45deg, #F6D6BC 0%, #F6D6BC 50%, #E0A06B 100%); */
    border-radius: 10px;
    box-shadow: 0 14px 24px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: .65rem;
    height: 290px;
}

.ranking {
    margin-left: 100px;
    width : 50%;
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 300px;
    max-height: 350px;
    background: #e2d956;
    border-radius: 10px;
    box-shadow: 0 14px 24px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: .65rem;
}


.person{
    height: 50px;
    width:50px; 
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-left: 10%;
    margin-bottom: 10%;  
}

.person img{
    height: 50px;
    width: 50px;
    border-radius: 100%; 
    margin-left: 300%;
}

.person h4{
    margin: 30%;
}

.number {
    /* max-width: 100px;
    max-height: 100px; */
    padding: 9px;
    background-color: rgb(200, 182, 13);
    box-shadow: 0 14px 24px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
