@import url("https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css");
.total {
    display:flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 700px;
    width: 400px;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    box-shadow: 0 14px 24px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(251, 255, 0, 0.22);
    padding: .65rem;
    color:rgb(251, 255, 6);
    font-size: 23px;
}

.h3-total {
    margin-top: 10px;
    margin-bottom: -3%;
}
.crearSala {
    align-items: center;
    max-width: 500px;
    max-height: 700px;
    width: 400px;
    height: 700px;
    margin-left: 100px;
    padding: .65rem;
    display:flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.767);
    border-radius: 10px;
    box-shadow: 0 14px 24px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(251, 255, 0, 0.22);
    color:rgb(251, 255, 6);
}
.position {
    margin:auto;
    font-family: var(--text-one);
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.dashboard-todo{
    display: flex;
    width: 100%;
    margin-top: 3px;
}
.dashboard-hijo{
    margin:auto;
}
.asd {
    height: 45px;
}

.text-hov {
    border: 2px solid var(--color-yellow);
    width: 300px;
    height: 100px;
    box-shadow: 1px 2px 2px 1px rgb(41, 41, 41);
    margin-top: 60px;
    font-family: var(--text-one);
    font-size: 50px;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: var(--color-yellow);
    color: black;
    cursor: pointer;
    transition: transform 250ms ease;
  }
  .text-hov:hover {
    color: var(--color-yellow);
    background-color: transparent;
    border: 1px solid var(--color-black);
    box-shadow: 0 0 5px var(--color-yellow);
    transform: scale(1.1);
  }

.imgn {
    margin-top: 80px;
    height: 220px;
    width:240px;
}

.contSalyImg{
    display: flex;
    flex-direction: column;
}

.conimg{
    align-items: center;
    margin-left: 50px;
    width : 300px;
    margin-left: 100px;
    margin-top: 100px;
    display:flex;
    font-size: 20px;
    flex-direction: column;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.767);;
   /*  background: -moz-linear-gradient(45deg, #F6D6BC 0%, #F6D6BC 50%, #E0A06B 100%);
    background: -webkit-linear-gradient(45deg, #F6D6BC 0%, #F6D6BC 50%, #E0A06B 100%); */
    border-radius: 10px;
    box-shadow: 0 14px 24px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: .65rem;
    height: 290px;
}

.ranking {
    font-size: 28px;
    color:rgb(251, 255, 6);
    margin-left: 100px;
    width: 400px;
    display:flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 700px;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    box-shadow: 0 14px 24px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(251, 255, 0, 0.22);
    padding: .65rem;
}

.game-win {
    font-size: 50px;
    color:rgb(251, 255, 6);
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashboard-span{
    width: 250px;
    font-size: 25px;
    color:rgb(251, 255, 6);
    align-items: center;
}
.person{
    height: 50px;
    width:50px; 
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-left: 10%;
    margin-bottom: 10%;  
}

.person img{
    height: 50px;
    width: 50px;
    border-radius: 100%; 
    margin-left: 300%;
}

.person h4{
    margin: 30%;
}
.dashboard-pepito{
    margin-top: 10px;
}
.number {
    /* max-width: 100px;
    max-height: 100px; */
    font-size: 28px;
    margin-top: 10px;
    padding: 8px;
    padding-bottom: 6px;
    margin-left: 40px;
}