.display-beta-border {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}
.display-beta-body-display {
  background-color: antiquewhite;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.display-beta-touch {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.display-beta-container-gametable {
  width: 1300px;
  height: 1300px;
  position: relative;
  perspective: 1700px;
}
.display-beta-container-gametable-cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}
.display-beta-align-game {
  margin-top: 250px;
  margin-left: 250px;
  width: 1300px;
  height: 1300px;
}
.display-beta-board-position{
  position: absolute;
}
.display-beta-game-box {
  margin-top: -1300px;
  margin-left: 0px;
  width: 1300px;
  height: 1300px;
  position: absolute;
}
.display-beta-target {
  width: 40px;
  height: 40px;
  position: absolute;
}
/*temporal component beta*/
.display-beta-components {
  padding-top: 120px;
  position: absolute;
}
.display-beta-touch-absolute {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.display-beta-touch {
  width: 100%;
  height: 100vh;
  position: relative;
}
.display-beta-align-chatgame {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.display-beta-align-gameoptions {
  position: absolute;
  top: 120px;
  right: 20px;
}
.display-beta-align-gameturns {
  /* position: absolute; */
  /* left: 50%; */
  /* margin: 0 30rem; */
  display: flex;
  justify-content: center;
  top: 120px;
}
.display-beta-align-gameturnsoptions {
  position: absolute;
  left: 50%;
  bottom: 20px;
}
.display-beta-align-dices {
  position: absolute;
  left: 50%;
  top:50%;
}