@import url("https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css");
.tutorial-total {
    display:grid;
    grid-column: auto;
    max-width: 22rem;
    max-height: 30rem;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 1.5rem;
    padding: 1rem;
    color: rgb(214, 214, 214);
    font-size: 1rem;
    margin-left: 2rem;
}

.tutorial-texto {
    
    margin-bottom: -3%;
}

.tutorial-position {
    margin:auto;
    font-family: var(--text-one);
    font-size: 1.25;
    display:grid;
    grid-row: auto;
}
.tutorial-todo{
    display:grid;
    grid-row: auto;
}
.tutorial-hijo{
    display:grid;
    grid-row: auto;
}