.cnt {
    margin: 10px 30px 30px 30px ;
    padding: 10px;
    background-color:rgba(49, 49, 48, 0.8);
    box-shadow: 4px 2px 10px 1px rgb(206, 209, 37);
}

.all{
  display: flex;
}

.h1{
  display: flex;
  justify-content: center;
    font-family: monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
  .pgame{
    color: whitesmoke;
    display: flex;
    justify-content: center;
  }