.gaminglog-table{
margin-top:-65%;
}
.gaminglog-target1{
    font-family: var(--text-one);
    color: rgb(252, 78, 78);
    background-color: aliceblue;
    border-radius: 0.5rem 0 0  0.5rem;
    padding-left: 0.2rem;
    margin-left: -0.3rem;
    font-size: 18px;
}
.gaminglog-target2{
    font-family: var(--text-one);
    color: rgb(9, 255, 0);
    background-color: aliceblue;
    border-radius: 0.6rem 0 0  0.6rem;
    padding-left: 0.2rem;
    margin-left: -0.3rem;
    font-size: 18px;
}
.gaminglog-target3{
    font-family: var(--text-one);
    color: rgb(0, 255, 234);
    background-color: aliceblue;
    border-radius: 0.5rem 0 0  0.5rem;
    padding-left: 0.2rem;
    margin-left: -0.3rem;
    font-size: 18px;
}
.gaminglog-target4{
    font-family: var(--text-one);
    color: rgb(255, 0, 255);
    background-color: aliceblue;
    border-radius: 0.5rem 0 0  0.5rem;
    padding-left: 0.2rem;
    margin-left: -0.3rem;
    font-size: 18px;
}
.gaminglog-text{
    font-family: var(--text-one);
    color: rgb(0, 0, 0);
    font-size: 17px;
    letter-spacing: 1px;
    display: flex;
}
.gaminglog-line{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    margin-top: 3px;
    padding: 0 5px;
}