.chat-cuadro-general {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
  background: linear-gradient(#375d83, #2A3846);
  height: 26rem;
  width: 20rem;
  text-align: center;
  border-radius: 10px;
  padding: 1.3rem;
  border: solid 1px rgb(68, 68, 68);
  -webkit-box-shadow: 0px 2px 14px 1px rgba(110, 110, 110, 1);
  -moz-box-shadow: 0px 2px 14px 1px rgba(110, 110, 110, 1);
  box-shadow: 0px 2px 14px 1px rgba(110, 110, 110, 1);
}
.chat-h1 {
  margin-top: 0.8rem;
  text-transform: uppercase;
  background: linear-gradient(#26627c, #063b52);
  padding: 0.2rem;
  border:groove 1px #ffffff;
  border-radius: 8px;
  color: #f3f3f3;
}
/* .chat-flex {
  display: flex;
  text-align: center;
} */
.chat-btn-enviar {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  margin-left: 0.2rem;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border-radius: 25px;
  cursor: pointer;
}
.chat-center {
  text-align: center;
}
.chat-textarea {
  background-color: rgb(27, 32, 39);
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
  border-radius: 15px;
  height: 2rem;
  width: 17rem;
  outline: none;
}
.chat-btn-enviar:hover {
  background-color: rgb(22, 123, 163);
  color: rgb(162, 220, 243);
  border: solid 1px #0097a7;
}
.chat-btn-verde {
  background-color: rgb(7, 95, 129);
  color: white;
  border: 1px solid #022b30;
}
.chat-container {
  background: transparent;
  border-radius: 0.5rem 0.5rem 0 0;
  border: solid 0px #000;
  margin: 0;
  padding: 0 10px 10px;
  height: 16.4rem;
  max-height: 80vh;
  max-width: 80vh;
  overflow-x: hidden;
  border: solid 1px #818181;
}
.chat-username {
  background-color: #0097a7;
  color: #ffffff;
  display: inline-block;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  border-radius: 0 1.125rem 1.125rem 1.125rem;
  margin-right: 12rem;
}
.chat-message {
  background-color: #08223b;
  text-align: start;
  padding: 0.3rem;
  margin-bottom: 0.4rem;
  border-radius: 0 1.125rem 1.125rem 1.125rem;
}
.background-chat-textarea{
  background: linear-gradient(#15395d, #122c46);
  border-radius: 0 0 1.125rem 1.125rem;
  border: solid 1px #818181;
}