.DashBoardBeta-todo {
    display: flex;
    width: 100%;
    margin-top: 3px;
}

.DashBoardBeta-position {
    margin:auto;
    font-family: var(--text-one);
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.DashBoardBeta-hijo{
    margin:auto;
}

/* .DashBoardBeta-total {
    
} */

.beta-space-game {
    padding-top: 70px;
    width: 100%;
    display: flex;
}
.beta-box-game{
margin: auto;
}
.color-blanco{
    color: #ffffff;
}
.color-negro{
    color: #000000;
}