.container-register {
    background-color: black;
    
    display: flex;
	flex-direction: column;
	
    height:400px;
    width: 350px;
    border: solid black 2px;
    border-radius: 5px;
    color:white;
    user-select: none;
}

.logo-register {
    margin-top: 3rem;
    text-align:center;
}

.box-register {
    align-items:center;
    top: 15px;
}

.email {
    text-align: center;
    align-items:center;
    margin-top: 6rem;
}

.email-text {
    height: 20px;
    width: 270px;
    border: none;
    border-bottom: 2px solid yellow;
    background-color: transparent;
    color:white;
}

.email-text:hover {
    height: 20px;
    width: 270px;
    border: none;
    border-bottom: 2px solid yellow;
    background-color: transparent;
    color:white;
}

.username-reg {
    text-align: center;
    align-items:center;
    margin-top: 1rem;
}

.username-text {
    height: 20px;
    width: 230px;
    border: none;
    border-bottom: 2px solid yellow;
    background-color: transparent;
    color:white;
}

.password {
    /*text-align: center;*/
    align-items:center;
    padding-bottom: 15px;
}

.password-text {
    height: 20px;
    width: 230px;
    border: none;
    border-bottom: 2px solid yellow;
    background-color: transparent;
    color:white;

}

.btn-send {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 3rem;
    margin-top: 3.5rem;
    display: inline-block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFEC00;
    transition: .3s ease;
    border-radius:4px;
    border: none;
    margin-left: 3.2rem;
}

.btn-send:hover {
    cursor:pointer;
    border: solid 1px yellow;
    background-color: transparent;
    color: yellow;
}