.room-dashboard-box {
    background: black;
    display: grid;
    max-width: 40rem;
    max-height: 20rem;
    width: 24rem;
    height:12rem;
    border-radius: 1.5rem;
    padding: .65rem;
    margin-left: .75rem;
}

.room-total {
  color: white;
  background: black;
  display: block;
  max-width: 60rem;
  max-height: 20rem;
  width: 26rem;
  height:20rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  padding: .65rem;
  margin-left: .8rem;
}

.room-sala {
  margin-top: 0.5rem;
}

.room-dashboard-form {
    padding: 2px;
    height: 2rem;
    width: 8rem;
    margin-right: .5rem;
    border: .2rem solid var(--color-black);
    border-radius: .4rem;
    margin-left: 1.9rem;
    padding-top: .5rem;
}

.button-unirse {
    border: 1px solid black;
    padding: 2px;
    height: 2.8rem;
    width: 8rem;
    box-shadow: 1px 8px 7px 2px #111111;
    margin-top: 1rem;
    font-family: var(--text-one);
    font-size: 35px;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: var(--color-yellow);
    color: black;
    cursor: pointer;
    margin-left: 1rem;
    transition: transform 250ms ease;
  }
  .button-unirse:hover {
    color: var(--color-black);
    background-color: rgb(250, 250, 74);
    border: 1px solid var(--color-black);
    box-shadow: 0 0 5px var(--color-black);
    transform: scale(1.1);
  }

.button-two {
    border: 1px solid black;
    padding: 2px;
    height: 2.8rem;
    width: 8rem;
    box-shadow: 1px 8px 7px 2px #111111;
    font-family: var(--text-one);
    font-size: 35px;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: var(--color-yellow);
    color: black;
    cursor: pointer;
    margin-left: 2rem;
    transition: transform 250ms ease;
  }
  .button-two:hover {
    color: var(--color-black);
    background-color: rgb(250, 250, 74);
    border: 1px solid var(--color-black);
    box-shadow: 0 0 5px var(--color-black);
    transform: scale(1.1);
  }

  .room-buttoner {
    display: flex;
    align-items: center;
  }

  .button-three {
    position: inherit ;
    border: 3px solid black;
    padding: 2px;
    height: 3.2rem;
    width: 10rem;
    margin-left: 1rem;
    box-shadow: 1px 8px 7px 2px #111111;
    margin-top: 5rem;
    font-family: var(--text-one);
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: var(--color-yellow);
    color: black;
    cursor: pointer;
    transition: transform 250ms ease;
  }
  .button-three:hover {
    color: var(--color-black);
    background-color: rgb(250, 250, 74);
    border: 1px solid var(--color-black);
    box-shadow: 0 0 5px var(--color-black);
    transform: scale(1.1);
  }

  .button-four {
    position: inherit ;
    border: 3px solid black;
    padding: 2px;
    height: 3.2rem;
    width: 10rem;
    margin-left: 2rem;
    box-shadow: 1px 8px 7px 2px #111111;
    margin-top: 5rem;
    font-family: var(--text-one);
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: var(--color-yellow);
    color: black;
    cursor: pointer;
    transition: transform 250ms ease;
  }
  .button-four:hover {
    color: var(--color-black);
    background-color: rgb(250, 250, 74);
    border: 1px solid var(--color-black);
    box-shadow: 0 0 5px var(--color-black);
    transform: scale(1.1);
  }

  .button-expulsar {
    border: 3px solid black;
    padding: 1px;
    height: 2rem;
    width: 8rem;
    margin-left: 2rem;
    box-shadow: 1px 3px 2px 1px #111111;
    margin-top: 2rem;
    font-family: var(--text-one);
    font-size: 20px bold;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: var(--color-yellow);
    color: black;
    cursor: pointer;
    transition: transform 250ms ease;
  }

  .button-expulsar:hover {
    color: var(--color-black);
    background-color: rgb(250, 250, 74);
    border: 1px solid var(--color-black);
    box-shadow: 0 0 5px var(--color-black);
    transform: scale(1.1);
  }

  .button-leave {
    border: 3px solid black;
    padding: 1px;
    height: 3rem;
    width: 10rem;
    margin-left: 2rem;
    box-shadow: 1px 8px 7px 2px #111111;
    margin-top: 2rem;
    font-family: var(--text-one);
    font-size: 20px bold;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: var(--color-yellow);
    color: black;
    cursor: pointer;
    transition: transform 250ms ease;
  }

  .button-leave:hover {
    color: var(--color-black);
    background-color: rgb(250, 250, 74);
    border: 1px solid var(--color-black);
    box-shadow: 0 0 5px var(--color-black);
    transform: scale(1.1);
  }