.dataplayerInfo-div-minor {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    border: 2px solid #ffff00;
    padding: 10px;
  }
  .dataplayerInfo-btn {
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 6px;
    padding-bottom: 4px;
    color: #000000;
  }
  .dataplayerInfo-btn:hover {
    background-color: #162229;
    border: 2px solid #f8990c;
    color: #f8990c;
    cursor: pointer;
  }
  .dataplayerInfo-icon {
    font-size: 25px;
  }
  .dataplayerInfo-div-btn-icon {
    width: 100%;
    display: flex;
    justify-content: end;
    height: 5px;
  }
  .dataplayerInfo-icontwo {
    color: #ffff00;
    border: 2px solid #ffff00;
    padding: 2px;
    border-radius: 5px;
    display: flex;
  }
  .dataplayerInfo-icontwo:hover {
    color: #f8990c;
    border: 2px solid #f8990c;
    cursor: pointer;
  }
  .dataplayerInfo-iconthree {
    position: absolute;
    background-color: #162229;
    color: #f8990c;
    border-radius: 5px;
    top: -10px;
    left: -10px;
  }
  .dataplayerInfo-iconthree:hover{
      cursor: pointer;
      color: yellow;
  }
  .dataplayerindfo-div-properties {
    color: seashell;
  }
  .dataplayerindfo-p-properties {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: underline;
  }
  .dataplayerinfo-p-cardname{
    background-color: rgba(190, 190, 190, 0.5);
    font-weight: 700;
    border-radius: 5px;
  }
  .dataplayerinfo-div-name{
      color: rgb(250, 250, 250);
      margin-top: -12px;
      border-radius: 5px;
      text-align: center;
      align-items: center;
  }
  .dataplayerinfo-username{
    font-weight: 700;
    font-size:2rem;
  }
  .dataplayerinfo-color-pink {
    background-color: rgb(230, 86, 255);
    font-weight: 700;
    border-radius: 5px;
  }
  .dataplayerinfo-color-brown {
    background-color: rgb(180, 103, 3);
    font-weight: 700;
    border-radius: 5px;
  }
  .dataplayerinfo-color-green {
    background-color: #009218;
    font-weight: 700;
    border-radius: 5px;
  }
  .dataplayerinfo-color-blue {
      background-color: #0a51ad;
      font-weight: 700;
      border-radius: 5px;
  }
  .dataplayerinfo-color-yellow {
      background-color: #ffff00;
      font-weight: 700;
      color: black;
      border-radius: 5px;
  }
  .dataplayerinfo-color-red {
      background-color: #f52828;
      font-weight: 700;
      border-radius: 5px;
  }
  .dataplayerinfo-color-light-blue {
     background-color: rgb(57, 176, 245);
      font-weight: 700;
      border-radius: 5px;
      color:black;
  }
  .dataplayerinfo-color-orange{
      background-color: rgb(255, 168, 6);
      font-weight: 700;
      border-radius: 5px;
  }
  