.dataplayerInfo-div-minor {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    border: 2px solid #ffff00;
    padding: 10px;
  }
  .dataplayerInfo-btn {
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 6px;
    padding-bottom: 4px;
    color: #000000;
  }
  .dataplayerInfo-btn:hover {
    background-color: #162229;
    border: 2px solid #f8990c;
    color: #f8990c;
    cursor: pointer;
  }
  .dataplayerInfo-icon {
    font-size: 25px;
  }
  .dataplayerInfo-div-btn-icon {
    width: 100%;
    display: flex;
    justify-content: end;
    height: 5px;
  }
  .dataplayerInfo-icontwo {
    color: #ffff00;
    border: 2px solid #ffff00;
    padding: 2px;
    border-radius: 5px;
    display: flex;
  }
  .dataplayerInfo-icontwo:hover {
    color: #f8990c;
    border: 2px solid #f8990c;
    cursor: pointer;
  }
  .dataplayerInfo-iconthree {
    position: absolute;
    background-color: #162229;
    color: #f8990c;
    border-radius: 5px;
    top: -10px;
    left: -10px;
  }
  .dataplayerInfo-iconthree:hover{
      cursor: pointer;
      color: yellow;
  }
  .dataplayerindfo-div-properties {
    color: seashell;
  }
  .dataplayerindfo-p-properties {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: underline;
  }
  .dataplayerinfo-p-cardname{
    background: linear-gradient(#bbbbbb, #454646);
    padding: 0.3rem 0.8rem;
    box-shadow: inset 0 0 0 2px #ffffff;
    font-weight: 700;
    border-radius: 2px;
    color:black;
  }
  .dataplayerinfo-div-name{
      color: rgb(250, 250, 250);
      
      margin-top: -12px;
      border-radius: 2px;
      text-align: center;
      align-items: center;
  }
  .dataplayerinfo-username{
    font-weight: 700;
    font-size:2rem;
  }
  .dataplayerinfo-color-pink {
    background: linear-gradient(#fda7fd, #e060e0);
    padding: 0.3rem 0.8rem;
    box-shadow: inset 0 0 0 2px #ffffff; 
    font-weight: 700;
    border-radius: 2px;
    color:black;
  }
  .dataplayerinfo-color-brown {
    background: linear-gradient(#e49f68, #966237);
    padding: 0.3rem 0.8rem;
    box-shadow: inset 0 0 0 2px #ffffff;
    font-weight: 700;
    border-radius: 2px;
    color:black;
  }
  .dataplayerinfo-color-green {
    box-shadow: inset 0 0 0 2px #ffffff;
    padding: 0.3rem 0.8rem;
    background: linear-gradient(#2ecc65, #028730);
    font-weight: 700;
    border-radius: 2px;
    color:black;
  }
  .dataplayerinfo-color-blue {
      box-shadow: inset 0 0 0 2px #ffffff;  
      padding: 0.3rem 0.8rem;  
      background: linear-gradient(#5593d6, #154375);
      font-weight: 700;
      border-radius: 2px;
      color:black;
  }
  .dataplayerinfo-color-yellow {
    background: linear-gradient(#f5e557, #d4c218);
      padding: 0.3rem 0.8rem;
      box-shadow: inset 0 0 0 2px #ffffff;
      font-weight: 700;
      color: black;
      border-radius: 2px;
  }
  .dataplayerinfo-color-red {
    background: linear-gradient(#ee6c62, #b1342a);
      padding: 0.3rem 0.8rem;
      box-shadow: inset 0 0 0 2px #ffffff;
      font-weight: 700;
      border-radius: 2px;
      color:black;
  }
  .dataplayerinfo-color-light-blue {
    background: linear-gradient(#91d6f3, #3fa2cc);
     padding: 0.3rem 0.8rem;
     box-shadow: inset 0 0 0 2px #ffffff;
      font-weight: 700;
      border-radius: 2px;
      color:black;
  }
  .dataplayerinfo-color-orange{
    background: linear-gradient(#eb924f, #bd6422);
      padding: 0.3rem 0.8rem;
      box-shadow: inset 0 0 0 2px #ffffff;
      font-weight: 700;
      border-radius: 2px;
      color:black;
  }
  