.principal {
  background-color: rgba(0, 0, 0, 0.767) ;
  align-items: center;
  text-align: center;
  transform: translateY(15%) translateX(55%);
  height:540px;
  width: 600px;
  border: solid black 2px;
  border-radius: 5px; 
  box-shadow: 7px 10px 12px 3px #000000;
  font-family: var(--text-one);
  font-size: 45px;
  margin-top: -2.5rem;
  color:rgb(251, 255, 6);
}

.head{
  height: 45px;
}

.container-home {
  margin-top: -2rem;
}

.logo {
  margin-top: -3.8rem;
  align-items:center;
  width: 380px;
  height: 180px;
}

.h2-home {
  margin-top: .3rem;
  
}

.div-home {
  font-family: var(--text-one);
  margin-top: -3rem;
  letter-spacing: -1.3px;
  text-align: center;
  font-size: 30px;
}