.turnsoptions-div-minor {
    margin-left: -50%;
}
.turnsoptions-btn {
    background-color: #0f1417;
    border-radius: 10px;
    border: 2px solid #ffffff;
    padding: 6px;
    padding-bottom: 4px;
    color: #ffffff;
    margin: 10px;
}
.turnsoptions-btn:hover {
    background-color: #162920;
    border: 2px solid #1a9c1a;
    color: #1a9c1a;
    cursor: pointer;
}
.turnsoptions-icon {
font-size: 70px;
}
.turnsoptions-btn-disabled {
    background-color: #0f141750;
    border-radius: 10px;
    border: 2px solid #ff330050;
    padding: 6px;
    padding-bottom: 4px;
    color: #ff330050;
    margin: 10px;
}