.card-rpoperty-all {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    font-weight: 0.2rem;
    user-select: none;
  }
  .card-rpoperty-cnt {
    margin: 0px 5px -110px 30px;
    padding: 4px;
    background: radial-gradient(#313131, #0e0e0e);
    width: 17rem;
    height: 26rem;
    border-radius: 5px;
    border: solid 2px rgb(0, 0, 0);
    line-height: 10px;
    box-shadow: inset 0 0 0 3px #ffffffc7;
    display: flex;
    color: #ffffff;
  }
  .card-rpoperty-div-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    box-shadow: inset 0 0 0 4px #00000093;
    height: 15%;
    display: flex;
  }
  .card-rpoperty-color-card-brown {
    background: linear-gradient(#e49f68, #966237);
  }
  .card-rpoperty-color-card-light-blue {
    background: linear-gradient(#91d6f3, #3fa2cc);
  }
  .card-rpoperty-color-card-pink {
    background: linear-gradient(#fda7fd, #e060e0);
  }
  .card-rpoperty-color-card-orange {
    background: linear-gradient(#eb924f, #bd6422);
  }
  .card-rpoperty-color-card-red {
    background: linear-gradient(#ee6c62, #b1342a);
  }
  .card-rpoperty-color-card-yellow {
    background: linear-gradient(#f5e557, #d4c218);
  }
  .card-rpoperty-color-card-green {
    background: linear-gradient(#2ecc65, #028730);
  }
  .card-rpoperty-color-card-blue {
    background: linear-gradient(#5593d6, #154375);
  }
  .card-title-card {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-family: var(--text-three);
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
    color: #ffffff;
    text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,
      -2px -2px 0 #000;
  }
.card-rpoperty-icon{
    color: #ffffffc7;
  font-size: 140px;
  margin: auto;
}
.card-rpoperty-icon-img{
    width: 140px;
    margin-top: 10px;
    margin-left: 20px;
    margin:auto;
}
.propertycard-button{
    text-transform: uppercase;
    background-color: #fbff18;
    color: #000;
    border: solid 2px #000;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    margin-top: -0.9rem;
    width: 9rem;
    margin: auto;
  }
  .propertycard-button:hover {
    cursor: pointer;
    background-color: #000;
    color: #fbff18;
    border: solid 2px #fbff18;
    transition: 0.3s;
  }
  .card-rpoperty-line-card{
      height: 0.5rem;
  }
  .card-rpoperty-span{
    font-family: var(--text-one);
  font-size: 24;
  letter-spacing: 3px;
  color: #ff9900;
  }
  .card-rpoperty-span-bold{
    font-family: var(--text-one);
    font-size: 26;
    letter-spacing: 3px;
  }