.RailwayCard-background-no-repeat{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3rem;
    padding: 2rem;
    margin: auto;
    margin-top: 0rem;
    width: 18rem;
    height: 10rem;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    font-size:1rem;
    text-align: center;
    border: solid 3px black;
    -webkit-box-shadow: 0px 1px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 13px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 13px -3px rgba(0,0,0,0.75);
}
.RailwayCard-h3{
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 0.5rem;
}

.RailwayCard-div{
    display: flex;
    flex-direction: column;
}

.card-span-bold{
    padding: 3px;
}
.modulos-button {
    text-transform: uppercase;
    background-color: #000;
    color: #fbff18;
    border: solid 2px #fbff18;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    margin-top: -2rem;
  }
  .modulos-button:hover {
    cursor: pointer;
    background-color: #fbff18;
    color: #000;
    border: solid 2px #000000;
    transition: 0.3s;
  }
  .railway-button {
    text-transform: uppercase;
    background-color: #fbff18;
    color: #000;
    border: solid 2px #000;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    margin-top: 0.3rem;
    text-align: center;
  }
  .railway-button:hover {
    cursor: pointer;
    background-color: #000;
    color: #fbff18;
    border: solid 2px #fbff18;
    transition: 0.3s;
  }
  .card-railway-img{
    display: flex;
    text-align: center;
    margin-left: 6.5rem;
    margin-top: 0.5rem;
}