.chatgame-div-minor {
    background-color: #0f1417;
    border-radius: 10px;
    border: 2px solid #ffff00;
    padding: 10px;
  }
  .chatgame-btn {
    background-color: #0f1417;
    border-radius: 10px;
    border: 2px solid #ffff00;
    padding: 6px;
    padding-bottom: 4px;
    color: #ffff00;
  }
  .chatgame-btn:hover {
    background-color: #162229;
    border: 2px solid #f8990c;
    color: #f8990c;
  }
  .chatgame-icon {
    font-size: 25px;
  }
  .chatgame-div-btn-icon {
    width: 100%;
    display: flex;
    justify-content: end;
    height: 5px;
  }
  .chatgame-div-box {
    width: 100%;
  }
  .chatgame-icontwo {
    color: #ffff00;
    border: 2px solid #ffff00;
    padding: 2px;
    border-radius: 5px;
    display: flex;
  }
  .chatgame-icontwo:hover {
    color: #f8990c;
    border: 2px solid #f8990c;
  }
  .chatgame-iconthree {
    position: absolute;
    background-color: #162229;
    border-radius: 5px;
    top: -10px;
    right: -10px;
  }
  .chatgame-title {
    background-color: #ffff00;
    margin-bottom: 5px;
    height: 20px;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
  }
  /**/
  .chatgame-chat-flex {
    display: flex;
    text-align: center;
  }
  .chatgame-chat-btn-enviar {
    background-color: #ffff00;
    border: 2px solid #f8990c;
    border-radius: 25px;
    padding: 5px;
    margin-right: 5px;
    margin-left: 10px;
  }
  .chatgame-chat-center {
    text-align: center;
  }
  .chatgame-chat-textarea {
    margin-top: 1rem;
    border-radius: 15px;
    height: 1.5rem;
    width: 17rem;
    outline: none;
  }
  .chatgame-chat-btn-enviar:hover {
      background-color: #f8990c;
      border: 2px solid #ffff00;
  }
  
  .chatgame-chat-container {
    background: #ffffff;
    border-radius: 5px;
    border: solid 0px #000;
    margin: 0;
    padding: 0 10px 10px;
    height: 13rem;
    max-height: 80vh;
    max-width: 70vh;
    overflow-x: hidden;
  }
  .chatgame-chat-username {
    background-color: #0097a7;
    color: #ffffff;
    display: inline-block;
    padding: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    border-radius: 0 1.125rem 1.125rem 1.125rem;
    margin-left: -12rem;
  }
  .chatgame-chat-message {
    background-color: #e4e4e4;
    text-align: start;
    padding: 0.3rem;
    margin-bottom: 0.4rem;
    border-radius: 0 1.125rem 1.125rem 1.125rem;
  }
  .chatgame-icon-chat {
    font-size: 22px;
  }