.container-login {
    background-color: black;
    display: flex;
	flex-direction: column;
    height:400px;
    width: 350px;
    border: solid black 2px;
    border-radius: 5px;
    color:white;
    user-select: none;
}

.logo-register {
    margin-top: 3rem;
    text-align:center;
}

.box-register {
    align-items:center;
    top: 15px;
}

.home-img {
    margin: 1rem 5rem;
    width: 200px;
    height: 100px;
}

.username {
    text-align: center;
    align-items:center;
    padding-bottom: 5px;
    margin-top: 1rem;
}

.form {
    border: none;
    border-bottom: 2px solid yellow;
    background-color: transparent;
    color: white;
}

.password {
    text-align: center;
    align-items:center;
    padding-bottom: 5px;
    margin-top: 1rem;
}

.btn-enter {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 3rem;
    margin-left: 96px;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFEC00;
    transition: .3s ease;
    border-radius:4px;
    border: none;
}

.btn-enter:hover {
    cursor:pointer;
    border: solid 1px yellow;
    background-color: transparent;
    color: yellow;
}

.down-card {
    text-align: center;
    align-items:center;
    padding-bottom: 5px;
    margin-top: 1rem;
}

.dont-have:hover{
    font-size: 17px;
    text-shadow: 2px 1px 5px rgba(255,247,29,0.85);
    border-bottom: 1px solid yellow;
}